.wfc-checklist-valid{
    background-color :#7DC242;
}
.wfc-checklist-invalid{
    background-color :#FF0000;
}
.wfc-dashboard-checklist-item{
    padding     :2px 5px;
    margin      :3px 0;
    line-height :35px;
    color       :#FFFFFF;
    display     :inline-block;
}
.wfc-dashboard-checklist-item .wfc-dashboard-checkbox{
    display :none;
}
tr.wfc-dashboard-checklist-item{
    display :inherit;
}
.wfc-table-headings{
    color:#000;
}